Repository darkzard05/rag-system-ollama: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements, mypy, pytest-unit

verify-requirements:
  name: verify-requirements
  entry: python scripts/maintenance/verify_requirements.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: powershell -NoProfile -Command "$env:PYTHONPATH='src'; mypy src"
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest-unit
  entry: pytest --disable-warnings tests/unit
  language: system
  pass_filenames: false
  always_run: false

ci: ignore new CVEs in pip-audit to unblock build
  .github/workflows/ci.yml
Due: none

fix: resolve singleton test isolation and optimize pre-commit pipeline
  src/cache/vector_cache.py
  src/security/cache_security.py
  src/services/optimization/caching_optimizer.py
Due: mypy, pytest-unit

fix: add node_name to StreamChunk to resolve streaming error and update gemini.md rules for Ruff and MyPy compliance
  config.yml
  logs/eval/qa_history_202603.jsonl
  reports/highlight_scenario_1_ondemand.png
  reports/highlight_scenario_1_ondemand_cleaned.png
  reports/highlight_scenario_2_metadata_sequence_success.png
  reports/test_highlight_result.png
  scripts/benchmarks/indexing_perf.py
  scripts/benchmarks/rag_total_perf.py
  scripts/benchmarks/total_load_perf.py
  scripts/compare_rerankers.py
  scripts/compare_rerankers_real_pdf.py
  scripts/debug_embedding_bottleneck.py
  scripts/evaluation/test_highlight_accuracy.py
  scripts/test_reference_extraction.py
  scripts/verification/verify_hhem_opt.py
  scripts/verify_highlight_isolation.py
  src/api/schemas.py
  src/api/streaming_handler.py
  src/common/config.py
  src/common/utils.py
  src/core/chunking.py
  src/core/document_processor.py
  src/core/graph_builder.py
  src/core/model_loader.py
  src/core/rag_core.py
  src/core/semantic_chunker.py
  src/services/evaluation_service.py
  src/ui/components/chat.py
  src/ui/components/status_box.py
  src/ui/components/viewer.py
  tests/unit/test_core_utils.py
  tests/unit/test_timeline_logic.py
  tests/unit/test_timeline_sync.py
  tests/unit/test_ui_components.py
Due: mypy, pytest-unit

ci: fix ruff lint error and ignore CVE-2026-28277 to unblock build
  .github/workflows/ci.yml
  src/ui/components/chat.py
Due: mypy, pytest-unit

Refactor Streamlit UI with optimized fragment state management
  config.yml
  logs/eval/qa_history_202603.jsonl
  scripts/verify_changes.py
  src/common/config.py
  src/core/custom_ollama.py
  src/core/document_processor.py
  src/core/thread_safe_session.py
  src/ui/components/chat.py
  src/ui/components/viewer.py
  tests/integration/simulation_app.py
  tests/integration/simulation_app_optimized.py
  tests/integration/simulation_app_v2.py
  tests/integration/simulation_app_v3.py
  tests/integration/verify_simulation.py
  tests/integration/verify_simulation_v2.py
  tests/integration/verify_simulation_v3.py
  tests/unit/test_core_utils.py
  tests/unit/test_ui_components.py
Due: mypy, pytest-unit

feat: optimize RAG core components for better performance and precision
  src/common/utils.py
  src/core/document_processor.py
  src/core/model_loader.py
Due: mypy, pytest-unit

feat: enhance UI streaming stability and modernize document processing
  logs/eval/qa_history_202603.jsonl
  readme.md
  requirements/base.txt
  requirements/windows.txt
  scripts/debug_embedding_bottleneck.py
  scripts/quick_verify_rag.py
  scripts/test_reference_extraction.py
  scripts/verify_changes.py
  scripts/verify_highlight_isolation.py
  scripts/verify_refactoring.py
  src/api/streaming_handler.py
  src/core/custom_ollama.py
  src/core/document_processor.py
  src/core/graph_builder.py
  src/core/rag_core.py
  src/core/reranker.py
  src/core/retriever_factory.py
  src/main.py
  src/ui/components/chat.py
  src/ui/components/sidebar.py
  src/ui/components/viewer.py
  src/ui/ui.py
  tests/unit/test_core_utils.py
  tests/unit/test_deep_thinking_ollama.py
  tests/unit/test_streaming_buffer.py
  tests/unit/test_streaming_reasoning.py
  tests/unit/test_timeline_sync.py
Due: verify-requirements, mypy, pytest-unit

fix: correct pymupdf4llm version and resolve mypy type error in custom_ollama
  requirements/base.txt
  requirements/windows.txt
  src/core/custom_ollama.py
Due: verify-requirements, mypy, pytest-unit

fix: resolve pymupdf dependency conflict and satisfy mypy type safety
  requirements/base.txt
  requirements/windows.txt
  src/core/custom_ollama.py
Due: verify-requirements, mypy, pytest-unit

fix(ui): implement defensive st.rerun for fragment compatibility in test environments
  src/ui/components/chat.py
Due: mypy, pytest-unit

fix(streaming): harmonize TokenStreamBuffer logic across unit and integration tests
  src/api/streaming_handler.py
  tests/unit/test_streaming_buffer.py
Due: mypy, pytest-unit

perf: optimize RAG pipeline parameters and enhance UI stability
  config.yml
  reports/qwen3_optimized_report_20260309_152803.csv
  scripts/benchmarks/compare_qwen_models.py
  scripts/benchmarks/test_qwen3_perf.py
  src/common/config.py
  src/common/logging_config.py
  src/common/utils.py
  src/core/chunking.py
  src/core/document_processor.py
  src/core/graph_builder.py
  src/core/model_loader.py
  src/core/semantic_chunker.py
  src/ui/components/chat.py
  src/ui/components/sidebar.py
  src/ui/ui.py
Due: mypy, pytest-unit

feat: integrate FlashRank reranker and optimize metadata efficiency
  config.yml
  docs/architecture/STREAMING_INTEGRITY_PROTOCOL.md
  docs/tasks/TESTING_STRATEGY.md
  readme.md
  scripts/compare_chunking_logic.py
  scripts/compare_reranker_perf.py
  scripts/e2e_performance_benchmark.py
  scripts/test_real_pdf_chunking.py
  scripts/test_reranker_logic.py
  scripts/verify_metadata_opt.py
  src/cache/coord_cache.py
  src/core/document_processor.py
  src/core/graph_builder.py
  src/core/rag_core.py
  src/core/reranker.py
  src/core/semantic_chunker.py
Due: mypy, pytest-unit

fix(chunker): add explicit type annotation for valid_vectors to satisfy mypy
  src/core/semantic_chunker.py
Due: mypy, pytest-unit

feat: upgrade RAG intelligence and expand multi-layer testing (v3.3.0)
  config.yml
  docs/tasks/TESTING_STRATEGY.md
  readme.md
  scripts/verify_section_metadata.py
  src/api/schemas.py
  src/api/streaming_handler.py
  src/common/config.py
  src/common/utils.py
  src/core/document_processor.py
  src/core/graph_builder.py
  src/core/rag_core.py
  src/core/semantic_chunker.py
  src/ui/components/chat.py
  src/ui/components/viewer.py
  tests/unit/test_citation_advanced.py
  tests/unit/test_core_utils.py
  tests/unit/test_document_processor.py
  tests/unit/test_graph_flow.py
  tests/unit/test_rag_pipeline.py
  tests/unit/test_reducer_state.py
  tests/unit/test_structured_nodes.py
Due: mypy, pytest-unit

fix(resource_pool): replace asyncio.Lock with threading.Lock to resolve event loop mismatch
  src/core/resource_pool.py
  tests/unit/test_resource_pool_concurrency.py
Due: mypy, pytest-unit

refactor: remove tests for deleted apply_tooltips_to_response function
  .pre-commit-config.yaml
  tests/unit/test_core_utils.py
Due: mypy, pytest-unit

feat(rag): optimize pipeline for Korean language support
  config.yml
  scripts/test_embedding_v2.py
  scripts/test_highlight_query_cleaning.py
  scripts/verify_reranker_with_pdf.py
  src/common/utils.py
Due: mypy, pytest-unit

style: apply automated formatting fixes (Ruff)
  src/core/resource_pool.py
Due: mypy, pytest-unit

chore(pre-commit): remove missing unified-checks hook
  .pre-commit-config.yaml
Due: none

refactor: address PR review feedback on tests and pre-commit
  .pre-commit-config.yaml
  tests/unit/test_core_utils.py
Due: mypy, pytest-unit

refactor(ci): update pre-commit hooks and cleanup unused imports
  .pre-commit-config.yaml
  scripts/verify_reranker_with_pdf.py
Due: mypy

fix: address PR review feedback and CI security issues
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-plan-execute.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-plan-execute.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  config.yml
  plans/commit-push-strategy.md
  pyproject.toml
  requirements/base.txt
  requirements/windows.txt
  tests/unit/test_resource_pool_concurrency.py
Due: verify-requirements, mypy, pytest-unit

fix: resolve mypy missing library stubs
  pyproject.toml
  tests/unit/test_resource_pool_concurrency.py
Due: mypy, pytest-unit

fix: address bot code review feedback
  .github/commands/gemini-invoke.toml
  config.yml
  pyproject.toml
  src/core/resource_pool.py
  src/core/semantic_chunker.py
  src/main.py
Due: mypy, pytest-unit

fix: address critical bot feedback and resolve CI environment issues
  .github/workflows/ci.yml
  requirements/windows.txt
  src/core/resource_pool.py
Due: verify-requirements, mypy, pytest-unit

fix: correct logging import path in main.py
  src/main.py
Due: mypy, pytest-unit

test: add multi-threaded concurrency test for ResourcePool
  tests/unit/test_resource_pool_concurrency.py
Due: mypy, pytest-unit

fix(ci): ignore onnx CVE-2026-28500 in pip-audit
  .github/workflows/ci.yml
Due: none

style: apply ruff UP041 and UP017 lint fixes (Python 3.11+ style)
  src/infra/error_recovery.py
  src/security/cache_security.py
  src/services/optimization/async_optimizer.py
  src/services/optimization/vector_db_optimizer.py
Due: mypy, pytest-unit

fix: revert Python 3.11+ style changes for 3.10 compatibility
  pyproject.toml
  src/infra/error_recovery.py
  src/security/cache_security.py
  src/services/optimization/async_optimizer.py
  src/services/optimization/vector_db_optimizer.py
Due: mypy, pytest-unit

fix: address final bot review feedback for stability and accuracy
  pyproject.toml
  src/common/utils.py
  src/core/resource_pool.py
Due: mypy, pytest-unit

fix: ensure atomicity in ResourcePool.__new__
  src/core/resource_pool.py
Due: mypy, pytest-unit

feat(rag): optimize Korean language support & pipeline efficiency (#3)
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-plan-execute.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/ci.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-plan-execute.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .pre-commit-config.yaml
  config.yml
  plans/commit-push-strategy.md
  pyproject.toml
  requirements/base.txt
  requirements/windows.txt
  scripts/test_embedding_v2.py
  scripts/test_highlight_query_cleaning.py
  scripts/verify_reranker_with_pdf.py
  src/common/utils.py
  src/core/resource_pool.py
  src/core/semantic_chunker.py
  src/main.py
  tests/unit/test_core_utils.py
  tests/unit/test_resource_pool_concurrency.py
Due: verify-requirements, mypy, pytest-unit

perf: resolve concurrency defects and indexing bottlenecks
  src/core/rag_core.py
  src/core/resource_pool.py
  src/core/semantic_chunker.py
Due: mypy, pytest-unit

docs: add implementation plan for independent scrolling layout
  docs/superpowers/plans/2026-04-06-independent-scrolling-layout.md
Due: none

style: update global CSS for independent scrolling flex layout
  src/ui/ui.py
Due: mypy, pytest-unit

feat: move PDF control bar to bottom and enable independent scroll
  src/ui/components/viewer.py
Due: mypy, pytest-unit

feat: enable independent scroll for chat history
  src/ui/components/chat.py
Due: mypy, pytest-unit

Path conditions:
  verify-requirements: any of: ^requirements/.*\.txt$
  mypy: any of: \.py$
  pytest-unit: any of: ^src/|^tests/unit/
