Repository darkzard05/rag-system-ollama: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements, mypy, pytest-unit

verify-requirements:
  name: verify-requirements
  entry: python scripts/maintenance/verify_requirements.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: powershell -NoProfile -Command "$env:PYTHONPATH='src'; mypy src"
  language: system
  pass_filenames: false

pytest-unit:
  name: pytest-unit
  entry: pytest --disable-warnings tests/unit
  language: system
  pass_filenames: false
  always_run: false

feat(rag): add concision/brevity/groundedness rules to analysis protocol
  config.yml
Due: none

perf(ui): reduce timeline poll interval to 1.0s via config
  config.yml
  src/common/config.py
  src/ui/components/chat.py
  tests/unit/test_ui_components.py
Due: mypy, pytest-unit

feat(rag): make grade short-circuit threshold config-driven (min_score_to_skip)
  config.yml
  src/core/graph_builder.py
  tests/unit/test_graph_grading.py
Due: mypy, pytest-unit

fix(test): gate model preload in test environments to prevent loop-swap lock deadlock
  src/core/pipeline_builder.py
  tests/conftest.py
Due: mypy, pytest-unit

test(rag): add after-measurement report and baseline comparison
  reports/eval_quality_after_20260806_230305.json
  reports/eval_quality_after_20260806_230305.md
  reports/eval_quality_comparison.md
Due: none

docs(readme): document eval harness, reranker engine, preload, and key settings
  readme.md
  src/core/AGENTS.md
Due: pytest-unit

test(rag): neutralize preload env gate in once-only scheduling test for CI
  tests/unit/test_ctx_guard.py
Due: mypy, pytest-unit

feat(graph): add stage timing logs and log graph builder serde
  src/core/async_reranker.py
  src/core/graph_builder.py
Due: mypy, pytest-unit

perf(pipeline): preload embedding model and flashrank reranker before first query
  src/core/pipeline_builder.py
Due: mypy, pytest-unit

perf(models): set keep_alive on Ollama embedding client
  src/core/model_loader.py
Due: mypy, pytest-unit

build(deps): upgrade streamlit to 1.60 to fix pdf-viewer scroll regression
  requirements/base.txt
Due: verify-requirements

feat(config): add korean question-form keywords to semantic intent detection
  config.yml
  tests/unit/test_preprocess_weighting.py
Due: mypy, pytest-unit

docs(readme): add nomic-embed-text-v2-moe to model pull instructions
  readme.md
Due: none

fix(scripts): repair quick_verify_rag.py import for E2E verification
  scripts/quick_verify_rag.py
Due: mypy

test(ui): add seeded streaming status empty-body repro
  tests/integration/test_streaming_status_empty_body.py
Due: mypy

chore(scripts): add qwen3 thinking probe for empty-status-body evidence
  scripts/probe_qwen3_thinking.py
Due: mypy

fix(ui): render pipeline steps in streaming status body
  src/ui/components/chat.py
Due: mypy, pytest-unit

fix(core): read reasoning_content in thought extraction
  src/api/streaming_handler.py
  src/core/custom_ollama.py
Due: mypy, pytest-unit

feat(core): add models.thinking flag to enable Ollama reasoning extraction
  config.yml
  src/common/config.py
  src/core/model_loader.py
Due: mypy, pytest-unit

test(core): add reasoning_content extraction unit tests
  tests/unit/test_custom_ollama.py
Due: mypy, pytest-unit

fix(deps): align windows requirements and integrity check to streamlit 1.60
  requirements/windows.txt
  scripts/maintenance/verify_requirements.py
Due: verify-requirements, mypy

chore(scripts): add Playwright layout-probe regression harness
  scripts/layout_probe.py
Due: mypy

fix(ui): inject custom CSS before bootstrap splash so pass-1 renders styled
  src/main.py
  src/ui/ui.py
Due: mypy, pytest-unit

fix(ui): emit custom CSS before heavy session imports so pass-1 is styled from the first frame
  src/main.py
Due: mypy, pytest-unit

test(scripts): fix probe splash capture race, I2 header-top formula, wrapper self-inclusion
  scripts/layout_probe.py
Due: mypy

chore(ui): refresh main.css version comments to 1.60 DOM (flex chain verified unchanged by probe)
  src/ui/styles/main.css
Due: pytest-unit

chore(ui): align layout verification scripts to the measured 1.60 DOM chain
  scripts/reverify_dom_task1.py
  scripts/verify_layout_scroll_fix.py
Due: mypy

test(scripts): settle-robust upload final snapshot and robust e2e scroller wait
  scripts/layout_probe.py
  tests/e2e/test_chat_scroll.py
Due: mypy

fix(ui): reject corrupt PDFs upfront and crash-proof the PDF viewer (layout preserved on upload errors)
  src/main.py
  src/ui/components/viewer.py
Due: mypy, pytest-unit

fix(test): adapt upload tests to PDF pre-validation + add corrupt-PDF rejection test
  tests/unit/test_main_background_tasks.py
Due: mypy, pytest-unit

docs(readme): bump tech-stack Streamlit to 1.60.0
  readme.md
Due: none

perf(chunking): use GPU batch size for Ollama embedder
  src/core/chunking.py
  tests/unit/test_chunking.py
Due: mypy, pytest-unit

perf(cache): offload DiskCache IO to thread and support persist_to_disk
  src/core/semantic_chunker.py
  src/services/optimization/caching_optimizer.py
  tests/unit/test_semantic_chunker.py
  tests/unit/test_semantic_chunker_alignment.py
Due: mypy, pytest-unit

feat(ui): summarize pipeline process into native reasoning expander
  src/ui/components/streaming.py
  tests/integration/test_chat_expander_verify_a.py
  tests/integration/test_chat_expander_verify_b.py
  tests/unit/test_process_trace.py
Due: mypy, pytest-unit

chore(reports): archive eval-quality measurement runs
  reports/eval_quality_baseline_20260806_174429.json
  reports/eval_quality_baseline_20260806_174429.md
  reports/eval_quality_eval_20260806_172321.json
  reports/eval_quality_eval_20260806_172321.md
  reports/eval_quality_eval_20260806_172906.json
  reports/eval_quality_eval_20260806_172906.md
  reports/eval_quality_eval_20260806_173029.json
  reports/eval_quality_eval_20260806_173029.md
  reports/eval_quality_eval_20260806_173104.json
  reports/eval_quality_eval_20260806_173104.md
  reports/eval_quality_eval_20260806_183816.json
  reports/eval_quality_eval_20260806_183816.md
  reports/eval_quality_eval_20260806_201020.json
  reports/eval_quality_eval_20260806_201020.md
  reports/eval_quality_eval_20260806_231241.json
  reports/eval_quality_eval_20260806_231241.md
  reports/eval_quality_eval_20260807_000727.json
  reports/eval_quality_eval_20260807_000727.md
  reports/eval_quality_task4_20260806_195305.json
  reports/eval_quality_task4_20260806_195305.md
  reports/eval_quality_verify_20260806_172450.json
  reports/eval_quality_verify_20260806_172450.md
Due: none

chore(gitignore): tighten agent tool dirs and runtime pid ignores
  .gitignore
Due: none

docs(readme): refresh README and screenshots to 2026-08 state
  assets/image1.png
  assets/image2.png
  assets/image3.png
  readme.md
  scripts/maintenance/update_readme.py
Due: mypy

docs: refresh AGENTS.md and architecture docs to current codebase
  AGENTS.md
  docs/README.md
  docs/architecture/SYSTEM_OVERVIEW.md
  docs/ops/SECURITY_IMPLEMENTATION.md
  docs/tasks/TESTING_STRATEGY.md
Due: none

fix(ui): fall back chunk count to answer docs and default model
  src/ui/components/chat.py
Due: mypy, pytest-unit

chore(gitignore): ignore model cache backup dirs
  .gitignore
Due: none

Path conditions:
  verify-requirements: any of: ^requirements/.*\.txt$
  mypy: any of: \.py$
  pytest-unit: any of: ^src/|^tests/unit/
