Repository darkzard05/rag-system-ollama: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements, mypy, pytest-unit

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format

-   repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    -   id: bandit
        args: ["-r", "src/", "-ll"]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: verify-requirements
        name: verify-requirements
        entry: python scripts/maintenance/verify_requirements.py
        language: system
        files: ^requirements/.*\.txt$
        pass_filenames: false

    -   id: mypy
        name: mypy
        entry: powershell -NoProfile -Command "$env:PYTHONPATH='src'; mypy src"
        language: system
        types: [python]
        pass_filenames: false

    -   id: pytest-unit
        name: pytest-unit
        entry: pytest --disable-warnings tests/unit
        language: system
        pass_filenames: false
        files: ^src/|^tests/unit/
        always_run: false

fix(ui): unfreeze build progress bar via dedicated polling fragment
  src/common/utils.py
  src/ui/components/chat.py
  src/ui/ui.py
Due: mypy, pytest-unit

feat(exceptions): add CoordCacheReadError for coord-cache read failures
  src/common/exceptions.py
Due: mypy, pytest-unit

fix(coord-cache): raise CoordCacheReadError instead of silently returning None/{} on read failure
  src/cache/coord_cache.py
Due: mypy, pytest-unit

fix(hydrator): surface coord-cache read failure as explicit highlight-unavailable state
  src/core/document_hydrator.py
Due: mypy, pytest-unit

test: cover coord-cache read-failure propagation
  tests/unit/cache/test_coord_cache_read_failure.py
  tests/unit/core/test_document_hydrator_coord_failure.py
Due: mypy, pytest-unit

fix(ui): surface coord-cache read failure notice to user
  src/api/api_server.py
  src/common/utils.py
  src/ui/components/viewer.py
Due: mypy, pytest-unit

chore(scripts): remove dead test scripts referencing removed/renamed symbols
  scripts/test_pipeline_direct.py
  scripts/verification/test_adaptive_parsing.py
  scripts/verification/test_bge_m3_full.py
  scripts/verification/test_cache_security_fix.py
Due: mypy

fix(resource_manager): prevent concurrent double-build via stable per-key build lock
  scripts/repro_double_build.py
  src/core/resource_manager.py
Due: mypy, pytest-unit

fix(rag): prevent duplicate warmup and improve PDF extraction/display quality
  config.yml
  src/common/config.py
  src/common/utils.py
  src/core/document_processor.py
  src/core/graph_builder.py
  src/core/resource_manager.py
  src/main.py
  src/ui/components/chat.py
Due: mypy, pytest-unit

fix(resource_manager): prevent retriever eviction→rebuild churn on single-doc sessions
  src/core/rag_core.py
  src/core/resource_manager.py
  tests/unit/test_hydration_nonblocking.py
  tests/unit/test_resource_eviction.py
Due: mypy, pytest-unit

fix(resource_manager): pin in-use models to prevent VRAM eviction use-after-free
  src/api/api_server.py
  src/core/async_reranker.py
  src/core/chunking.py
  src/core/graph_builder.py
  src/core/model_loader.py
  src/core/pipeline_builder.py
  src/core/resource_manager.py
  src/core/semantic_chunker_embeddings.py
  tests/unit/test_resource_pin.py
Due: mypy, pytest-unit

fix(ci): resolve event-loop binding and pin-key regressions from resource_manager hardening
  src/core/graph_builder.py
  src/core/model_loader.py
  src/core/resource_manager.py
  tests/integration/test_ownership_hardening.py
  tests/unit/test_ollama_pressure.py
Due: mypy, pytest-unit

fix(graph_builder): cast to Any for private asyncio.Lock._loop access (mypy)
  src/core/graph_builder.py
Due: mypy, pytest-unit

fix(ollama_pressure): use module-level flag import so tests can isolate behavior
  src/core/model_loader.py
  src/core/resource_manager.py
  tests/unit/test_ollama_pressure.py
Due: mypy, pytest-unit

test(ui): drive build-banner test via session keys the renderer reads
  tests/integration/test_chat_expander_verify_b.py
Due: mypy

fix(scripts): repair stale first-party references in verify scripts
  scripts/verification/verify_chunking_efficiency.py
  scripts/verification/verify_optimization_v2.py
  scripts/verification/verify_tokenizer.py
Due: mypy

chore(scripts): remove ad-hoc scripts referencing removed project symbols
  scripts/bench_ui_render.py
  scripts/bench_ui_render_v2.py
  scripts/benchmarks/archive/benchmark_indexing_optimization.py
  scripts/benchmarks/archive/benchmark_pdf_real_content.py
  scripts/benchmarks/archive/benchmark_semantic_vs_basic.py
  scripts/benchmarks/archive/measure_pipeline_latency.py
  scripts/verification/compare_table_strategies.py
  scripts/verification/verify_embedding_efficiency.py
  scripts/verification/verify_pdf_loading.py
Due: mypy

test: assert exact read/write counts in concurrency mix test
  tests/integration/test_thread_safety.py
Due: mypy

test(infra): use real preload guard env var and granularize warning filters
  pyproject.toml
  tests/conftest.py
Due: mypy

ci: gate scripts/ imports via sweep and run verified Ollama-free integration tests
  .github/workflows/ci.yml
  scripts/maintenance/check_imports.py
  scripts/maintenance/run_ci_checks.py
Due: mypy

fix(session): evict stale generating sessions and release their graph threads
  src/core/session/manager.py
  tests/unit/test_session_manager.py
Due: mypy, pytest-unit

fix(ui): force-reset stuck is_generating_answer on abnormal stream exit
  src/ui/components/chat.py
Due: mypy, pytest-unit

docs(readme): pin exact LangChain/LangGraph versions in tech stack
  readme.md
Due: none

fix(ui): tag failure messages as build_error to stop misleading 'Answer complete' caption
  src/main.py
Due: mypy, pytest-unit

fix(retriever): guard degenerate empty-token corpus to avoid BM25 ZeroDivisionError
  src/cache/vector_cache.py
  src/common/text_utils.py
  src/core/retriever_factory.py
  tests/unit/test_bm25_degenerate_guard.py
  tests/unit/test_rag_pipeline.py
Due: mypy, pytest-unit

fix(model): retry Ollama embedding cold-start connection-refused
  src/core/model_loader.py
  tests/unit/test_embed_retry.py
Due: mypy, pytest-unit

fix(ui): remove idle polling fragments and stabilize streaming
  src/ui/components/chat.py
  src/ui/components/streaming.py
  src/ui/components/viewer.py
  tests/unit/_viewer_smoke.py
  tests/unit/test_progress_poller_mounting.py
  tests/unit/test_viewer_fragment_no_poll.py
Due: mypy, pytest-unit

fix(logging): use real sys.__stderr__ for console handler
  src/common/logging_config.py
Due: mypy, pytest-unit

fix(core): replace threading.local with ContextVar to prevent cross-session timing contamination
  src/core/graph_builder.py
  tests/unit/test_timing_buffer_isolation.py
Due: mypy, pytest-unit

fix(ci): resolve scripts-import-sweep flaky gate and expose core.graph_builder
  .gitignore
  scripts/maintenance/check_imports.py
  src/core/__init__.py
Due: mypy, pytest-unit

refactor: consolidate duplicated code across src (Groups 3,4,6,7,8,9,10)
  src/common/pdf_utils.py
  src/common/similarity.py
  src/common/utils.py
  src/core/async_reranker.py
  src/core/document_processor.py
  src/core/graph_builder.py
  src/core/rag_core.py
  src/core/semantic_chunker_embeddings.py
  src/core/semantic_chunker_merge.py
  src/main.py
  src/security/cache_security.py
  src/services/optimization/caching_optimizer.py
  src/ui/components/chat.py
  src/ui/components/viewer.py
  tests/unit/test_compute_file_hash.py
  tests/unit/test_doc_stable_id.py
  tests/unit/test_model_swap_background.py
  tests/unit/test_pdf_utils.py
  tests/unit/test_similarity.py
Due: mypy, pytest-unit

chore(ci): align CI/dev tooling with Python 3.10 target
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  requirements/dev.txt
Due: verify-requirements

fix(cache): stop invalidating engine cache on event-loop change
  src/cache/engine_cache.py
  tests/unit/test_engine_cache_reuse.py
Due: mypy, pytest-unit

perf(rag): skip LLM grade for matched short queries (fast-path)
  src/core/graph_builder.py
  tests/unit/test_graph_grading.py
Due: mypy, pytest-unit

refactor(cache): remove dead write-only engine cache mirror
  src/cache/engine_cache.py
  tests/unit/test_engine_cache_reuse.py
Due: mypy, pytest-unit

refactor(prompts): unify prompt system into config.yml and add token estimation proxy
  config.yml
  scripts/eval_quality.py
  src/common/config.py
  src/core/graph_builder.py
Due: mypy, pytest-unit

perf(embedding): add MemoizingEmbedding single-flight LRU+TTL query cache
  src/core/embedding_memo.py
Due: mypy, pytest-unit

perf(model): wrap pooled embedders with query embedding memoization
  src/core/model_loader.py
Due: mypy, pytest-unit

test(embedding): cover memo wrapper and adapt retry/teardown fixtures
  tests/unit/conftest.py
  tests/unit/test_embed_retry.py
  tests/unit/test_embedding_memo.py
Due: mypy, pytest-unit
