Repository darkzard05/rag-system-ollama: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements, mypy, pytest-unit

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
    -   id: ruff-check
        args: [ --fix ]
    -   id: ruff-format

-   repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
    -   id: bandit
        args: ["-r", "src/", "-ll"]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: verify-requirements
        name: verify-requirements
        entry: python scripts/maintenance/verify_requirements.py
        language: system
        files: ^requirements/.*\.txt$
        pass_filenames: false

    -   id: mypy
        name: mypy
        entry: powershell -NoProfile -Command "$env:PYTHONPATH='src'; mypy src"
        language: system
        types: [python]
        pass_filenames: false

    -   id: pytest-unit
        name: pytest-unit
        entry: pytest --disable-warnings tests/unit
        language: system
        pass_filenames: false
        files: ^src/|^tests/unit/
        always_run: false

chore(core): encapsulate module globals and quiet hot-path logs
  src/core/graph_builder.py
  src/core/pipeline_builder.py
  tests/unit/test_context_min_len.py
Due: mypy, pytest-unit

feat(api,ui): integrate streaming and API server changes
  src/api/api_server.py
  src/api/schemas.py
  src/api/streaming_handler.py
  src/ui/components/streaming.py
Due: mypy, pytest-unit

chore(core): misc core pipeline in-flight changes
  src/core/custom_ollama.py
  src/core/document_hydrator.py
  src/core/rag_core.py
Due: mypy, pytest-unit

test(unit): update unit tests and retry helper
  src/common/retry.py
  tests/unit/core/test_model_loader_filtering.py
  tests/unit/test_citation_advanced.py
  tests/unit/test_core_utils.py
  tests/unit/test_ctx_guard.py
  tests/unit/test_injection_defense.py
Due: mypy, pytest-unit

test: add in-flight unit and integration tests
  tests/integration/test_stream_ttft.py
  tests/unit/test_astrostream_raw_json.py
  tests/unit/test_chat_answer_output.py
  tests/unit/test_citation_coords_fallback.py
  tests/unit/test_ctx_guard_perf.py
  tests/unit/test_incremental_json_render.py
  tests/unit/test_stream_dedup.py
  tests/unit/test_thought_live.py
Due: mypy, pytest-unit

fix(citations): resolve [doc:N] mis-link and render from citations[] array
  config.yml
  src/api/streaming_handler.py
  src/common/utils.py
  src/core/graph_builder.py
  src/ui/components/chat.py
  src/ui/components/streaming.py
  tests/unit/test_citation_tooltips.py
  tests/unit/test_format_context_stable_ids.py
  tests/unit/test_graph_grading.py
  tests/unit/test_incremental_json_render.py
Due: mypy, pytest-unit

feat(perf): add per-stage query latency tracing
  src/core/graph_builder.py
Due: mypy, pytest-unit

test(perf): add 3-scenario query-latency benchmark harness
  scripts/benchmarks/bench_query_latency.py
Due: mypy

chore(perf): capture 3-scenario query-latency baseline
  reports/query_bench_baseline.json
Due: none

feat(config): add opt-in query cache knobs
  config.yml
  src/common/config.py
Due: mypy, pytest-unit

fix(perf): invalidate query cache + grade memo on re-index
  src/core/pipeline_builder.py
Due: mypy, pytest-unit

feat(perf): prewarm LLM+embedder at startup
  src/api/api_server.py
  src/main.py
Due: mypy, pytest-unit

test(perf): add 3-scenario query-latency regression guard
  scripts/maintenance/verify_integrity.py
Due: mypy

feat(perf): VRAM-guarded concurrent-inference tunable
  src/core/model_loader.py
  src/core/resource_manager.py
Due: mypy, pytest-unit

perf(ingest): throttle chunk status updates, confirm single embed pass
  tests/unit/test_ingest_single_embed_pass.py
Due: mypy, pytest-unit

test(perf): cover query semantic cache
  tests/unit/test_query_cache.py
Due: mypy, pytest-unit

test(perf): cover grade reduction paths
  tests/unit/test_grade_reduction.py
Due: mypy, pytest-unit

test(perf): cover warmup and concurrency clamp
  tests/unit/test_warmup_concurrency.py
Due: mypy, pytest-unit

fix(rag): restore default-deploy eviction + stop silent coord drop, unify KO status
  config.yml
  src/cache/coord_cache.py
  src/common/config.py
  src/common/system_pressure.py
  src/core/graph_builder.py
  src/core/resource_manager.py
  src/main.py
  tests/unit/test_coord_cache_drop.py
  tests/unit/test_graph_builder_cache.py
  tests/unit/test_system_pressure.py
Due: mypy, pytest-unit

refactor: prune unused/dead symbols across modules
  .gitignore
  pyproject.toml
  src/api/schemas.py
  src/cache/vector_cache.py
  src/common/circuit_breaker.py
  src/common/config.py
  src/common/constants.py
  src/common/system_pressure.py
  src/core/model_loader.py
  src/core/rag_core.py
  src/core/search_aggregator.py
  src/security/cache_security.py
  src/services/monitoring/performance_monitor.py
  src/services/optimization/caching_optimizer.py
  tests/__init__.py
Due: mypy, pytest-unit

fix(session): detach UI-sync adapter on SessionManager reset
  src/core/session/manager.py
  tests/unit/test_session_manager.py
Due: mypy, pytest-unit

test: add unit-scoped conftest and new smoke/transition unit tests
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/test_api_server_smoke.py
  tests/unit/test_circuit_breaker_transitions.py
Due: mypy, pytest-unit

chore: ignore all reports/*.pid runtime files in .gitignore
  .gitignore
Due: none

ci: unify local hook and CI to single test source of truth
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/maintenance/pip_audit_hook.py
  scripts/maintenance/run_ci_checks.py
  scripts/maintenance/verify_integrity.py
Due: mypy

test: force src.core.* as canonical module alias to fix state leakage
  tests/conftest.py
  tests/unit/test_core_imports_without_streamlit.py
  tests/unit/test_main_background_tasks.py
  tests/unit/test_model_swap_background.py
Due: mypy, pytest-unit

test: convert streamlit UI test to unit test (no full app boot)
  scripts/maintenance/run_ci_checks.py
  tests/integration/test_streamlit_app.py
  tests/unit/_streamlit_ui_smoke.py
  tests/unit/test_streamlit_ui_components.py
Due: mypy, pytest-unit

test: fix ownership hardening patch target and split sweep tests to unit
  tests/integration/test_ownership_hardening.py
  tests/unit/test_ownership.py
Due: mypy, pytest-unit

fix(deps): align windows.txt with base.txt (langchain 1.x) for verify-requirements hook
  requirements/windows.txt
Due: verify-requirements

fix(test): make faiss GPU simulation env-independent in nprobe test
  tests/unit/test_index_nprobe_configured.py
Due: mypy, pytest-unit

fix(test): force torch.cuda mock in faiss GPU nprobe test
  tests/unit/test_index_nprobe_configured.py
Due: mypy, pytest-unit

ci: remove Auto-generate Documentation job
  .github/workflows/ci.yml
Due: none

docs: fix stale README tech-stack versions and test counts
  readme.md
Due: none

security: close session ownership fail-open and harden auth bootstrap
  src/api/api_server.py
  src/security/auth_system.py
  tests/integration/test_auth_bootstrap.py
  tests/integration/test_ownership_hardening.py
  tests/unit/test_ownership.py
Due: mypy, pytest-unit

fix(tooling): resolve mypy crash on langgraph and Windows log rollover PermissionError
  pyproject.toml
  src/common/logging_config.py
Due: mypy, pytest-unit

fix(test): align 6 integration tests with refactored stream/session renderers
  src/ui/components/chat.py
  src/ui/components/streaming.py
  tests/integration/test_chat_expander_verify_a.py
  tests/integration/test_chat_expander_verify_b.py
  tests/integration/test_metadata_propagation.py
  tests/integration/test_session_management.py
  tests/integration/test_stream_ttft.py
  tests/integration/test_streaming_status_empty_body.py
Due: mypy, pytest-unit

security: fail-closed on cache artifacts missing .meta integrity sidecar
  src/cache/vector_cache.py
  src/security/cache_security.py
  tests/security/test_cache_security.py
  tests/unit/test_cache_trust_fail_closed.py
  tests/unit/test_faiss_security_no_pickle.py
  tests/unit/test_veccache_no_pkl.py
  tests/unit/test_vector_cache_object_cache_bridge.py
  tests/unit/test_vector_cache_roundtrip.py
Due: mypy, pytest-unit

fix(rag): prevent empty cached response from bypassing retrieval
  src/core/graph_builder.py
  tests/unit/test_query_cache.py
Due: mypy, pytest-unit

fix(rag): repair broken JSON from unquoted hash doc_id and control chars
  config.yml
  scripts/test_full_pipeline.py
  src/api/schemas.py
  src/core/graph_builder.py
  src/main.py
Due: mypy, pytest-unit

fix(rag): repair dead semantic short-circuit with cosine-range threshold and gap guard
  config.yml
  src/core/graph_builder.py
  tests/unit/test_rerank_engine_thresholds.py
Due: mypy, pytest-unit
